body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

nav {
    display: flex;
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
}

#content {
    padding: 10px;
}

.post-preview {
    padding: 5px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

#latest-posts a {
    text-decoration: none;
    color: white;
}

#latest-posts-header {
    text-align: center;
}

.post-preview:hover {
    background-color: white;
    color: black;
}

.separator {
    border-bottom: 1px dashed white;
}

#latest-posts {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.post-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-content {
    padding-left: 15%;
    padding-right: 15%;
}

#greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

@media (max-width: 600px) {
    #latest-posts {
        padding-left: 5%;
        padding-right: 5%;
    }

    .post-content {
        padding-left: 5%;
        padding-right: 5%;
    }
}